@model IEnumerable<MiseReporting.Models.InventoryLineItemViewModel>

@{
    ViewBag.Title = "Inventory Line Items";
}

<h2>Inventory Line Items</h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullBottles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartialBottles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContainerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContainerSizeML)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePaid)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullBottles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartialBottles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerSizeML)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories)
        </td>
        <td>@Html.DisplayFor(mi => item.PricePaid)</td>
        <!--
        <td>
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Id})
        </td>-->
    </tr>
}

</table>
