@model MiseReporting.Models.InventoryViewModel

@{
    ViewBag.Title = "Inventory Line Items";
}

<h2>Inventory Line Items</h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
<table class="table">
    <tr>
        <th>
            Section
        </th>
        <th>
            Name
        </th>
        <th>
            Total
        </th>
        <th>
            Num Full Bottles
        </th>
        <th>
            Num Partial Bottles
        </th>
        <th>
            UPC
        </th>
        <th>
            Container Name
        </th>
        <th>
            Container Size ML
        </th>
        <th>
            Categories
        </th>
        <th>
            Price Paid
        </th>
    </tr>

@foreach (var item in Model.LineItems) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullBottles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartialBottles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerSizeML)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories)
        </td>
        <td>@Html.DisplayFor(mi => item.PricePaid)</td>
        <td>
            @Html.ActionLink("Details", "Details", new {id = item.Id}) |
            @Html.ActionLink("Set Price", "EditLineItem", new { inventoryId = Model.Id, lineItemId = item.Id }) 
            <!--@Html.ActionLink("Delete", "Delete", new {inventoryId = Model.Id, lineItemId = item.Id})-->
        </td>
    </tr>
}

</table>
