@model MiseReporting.Models.RestaurantViewModel

@{
    ViewBag.Title = "Pars";
}

<h2>Pars for @Model.Name</h2>
Current Time is @Model.CurrentTime

<table class="table">
    <tr>
        <th>
            Date Created
        </th>
        <th>
            Last Updated
        </th>
        <th>
            Created By Employee
        </th>
        <th>
            Number of Items
        </th>
        <th></th>
        <th>Export</th>
    </tr>

@foreach (var item in Model.Pars) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoneByEmployee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumLineItems)
        </td>
        <td>
            @Html.ActionLink("Line Items", "Details", new { parId = @item.Id }) 
        </td>
        <td>

            @Html.ActionLink("CSV", "GenerateCSV", new {parId = @item.Id})
        </td>
    </tr>
}

</table>
